@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Pretendard";
}

body {
	background-color: #fff;
}

.body {
	width: 1400px;
	height: 1080px;
	background-color: #f9f7ff;
	margin: 0 auto;
}